.planTitle {
	font-size: 60px;
	text-align: left;
}

.recordInfo {
	font-size: 40px;
	text-align: left;
}

.day {
	height: 70px;
	width: 100px;

	padding: 10px 10px 20px;
	flex-direction: column;
	align-items: flex-start;
	font-size: 50px;
	line-height: 70px;
	background-color: inherit;
}

.day-selector {
	margin-left: 0;
	margin-top: 10px;

	font-size: 50px;
}

.form {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.form__field {
	margin: 10px 0;
   
	line-height: 50px;
	font-size: 40px;

	display: flex;
	align-items: center;
}

.form__field-name {
	width: 100px;
	line-height: 70px;
	font-size: 40px;
	color: #000000;
}

.form__field-input {
	width: 300px;
	height: 50px;
	margin-left: 0;
	padding: 10px;
	border: solid 1px #000000;
	border-radius: 20px;
	font-size: 35px;
}

.sdp {
	width: 90%;
	height: 720px;
	font-size: 45px;
	padding-top: 30px;
}

.sdp--square-btn {
	width: 50px;
	height: 50px;
	font-size: 30px;

	margin-top: 40px;
}